/node_modules
/.vs/CS-471-Project/FileContentIndex/17d93413-8b75-441c-8710-8136d7cfdd38.vsidx
/.vs/CS-471-Project/FileContentIndex/e2334a2b-a153-45f3-ad13-bfd49e42951b.vsidx
/.vs/CS-471-Project/FileContentIndex
/angular-app/.vs
/.vs/CS-471-Project/FileContentIndex/3f00d54b-493e-4a26-8494-50fc8f1e0f4c.vsidx
