.container {
    text-align: center;
    margin:auto;
    width: 25%;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 70px;
}

label {
    color: white;
    font-size: 30px;
    width: 150px;
    display: inline-block;
    margin-bottom: 20px;
}

input {
    font-size: 30px;
    background-color: gray;
    border-color: gray;
    color: white;
    width: calc(100% - 160px);
    display: inline-block;
}

p {
    color: white;
    font-size: 30px;
    margin: 10px;
    text-align: left;
}

.signup-button {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 12px 160px;
}

.fancy-button {
    margin-bottom: 10px;
    font-size: 25px;
}
