<div class="container">
    <div class="next-session-container">
        <h2>Next Session</h2>
        <p>{{sessionDayOfWeek}}{{sessionTime}}</p>
        <div [hidden]="enterSessionHidden"><button class="enter-session-button" onclick="window.open('/assets/video-call/video-session.html', '_blank');">Enter Session</button></div>
        <br>
    </div>
    <div class="button-container">
        <div [hidden]="manageAccountInfoHidden"><button routerLink="account-information">Manage Account Information</button><br><br></div>
        <div [hidden]="classContentHidden"><button routerLink="class-content">Class Content</button><br><br></div>
        <div [hidden]="scheduleSessionHidden"><button routerLink="session-scheduler">Schedule Session</button><br><br></div>
    </div>
</div>
