.container {
    text-align: center;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 60px;
}

hr {
    width: 50%;
}

h2 {
    color: white;
    font-size: 40px;
}

button {
    font-size: 20px;
    padding: 9px 18px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 40%;
    color: white;
    margin: auto;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.radio-selection-container {
    margin: auto;
    width: 15%;
}

.radio-selection {
    color: white;
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
