.container {
    text-align: center;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 60px;
}

hr {
    width: 50%;
}

h2 {
    color: white;
    font-size: 40px;
}

mat-checkbox {
    font-size: 30px;
}

.list-container {
    text-align: left;
    width: 20%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.fancy-button {
    font-size: 20px;
    padding: 8px 16px;
}

table {
    border-collapse: collapse;
    width: 40%;
    color: white;
    margin: auto;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
