<div class="container">
    <h1>Account Information</h1>
    <hr>
    <h2>Courses</h2>
    <div class="list-container">
        <ul>
            <li><mat-checkbox>Course 1</mat-checkbox></li>
            <li><mat-checkbox>Course 2</mat-checkbox></li>
            <li><mat-checkbox>Course 3</mat-checkbox></li>
        </ul>
    </div>
    <hr>
    <h2>Available Times</h2>
    <table>
        <tr>
            <th></th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>12AM-1AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>1AM-2AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>2AM-3AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>3AM-4AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>4AM-5AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>5AM-6AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>6AM-7AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>7AM-8AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>8AM-9AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>9AM-10AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>10AM-11AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>11AM-12PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>12PM-1PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>1PM-2PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>2PM-3PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>3PM-4PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>4PM-5PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>5PM-6PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>6PM-7PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>7PM-8PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>8PM-9PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>9PM-10PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>10PM-11PM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
        <tr>
            <td>11PM-12AM</td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td><td><mat-checkbox></mat-checkbox></td>
        </tr>
    </table>
    <br>
    <hr>
    <h2>Resume</h2>
    <button class="fancy-button">Upload</button>
    <br><br><hr><br>
    <button routerLink="/home">Done</button>
</div>
