<h1>Computer Science Tutoring System</h1>
<hr>
<div class="container">
    <h2>Signup</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <label for="username">Username </label><input type="text" id="username" formControlName="username"><br>
        <label for="password">Password </label><input type="password" id="password" formControlName="password"><br>
        <button class="signup-button" type="submit" [disabled]="!signupForm.valid">Signup</button><br>
    </form>
    <button class="fancy-button" routerLink="/login">Back</button>
</div>
